@font-face {
     font-family: 'Hiragino UD Sans F StdN W3';
     src: url("/font-files/Hiragino_UD_Sans_F_StdN_W3.woff") format("woff");
}
@font-face {
     font-family: 'Hiragino UD Sans F StdN W4';
     src: url("/font-files/Hiragino_UD_Sans_F_StdN_W4.woff") format("woff");
}
@font-face {
     font-family: 'Hiragino UD Sans F StdN W5';
     src: url("/font-files/Hiragino_UD_Sans_F_StdN_W5.woff") format("woff");
}
@font-face {
     font-family: 'Hiragino UD Sans F StdN W6';
     src: url("/font-files/Hiragino_UD_Sans_F_StdN_W6.woff") format("woff");
}