@font-face {
     font-family: 'Hiragino Sans';
     font-weight: 100;
     src: url("/font-files-otf/Hiragino Sans W1.otf") format("otf");
}
@font-face {
     font-family: 'Hiragino Sans';
     font-weight: 200;
     src: url("/font-files-otf/Hiragino Sans W2.otf") format("otf");
}
@font-face {
     font-family: 'Hiragino Sans';
     font-weight: 300;
     src: url("/font-files-otf/Hiragino Sans W3.otf") format("otf");
}
@font-face {
     font-family: 'Hiragino Sans';
     font-weight: 400;
     src: url("/font-files-otf/Hiragino Sans W4.otf") format("otf");
}
@font-face {
     font-family: 'Hiragino Sans';
     font-weight: 500;
     src: url("/font-files-otf/Hiragino Sans W5.otf") format("otf");
}
@font-face {
     font-family: 'Hiragino Sans';
     font-weight: 600;
     src: url("/font-files-otf/Hiragino Sans W6.otf") format("otf");
}
@font-face {
     font-family: 'Hiragino Sans';
     font-weight: 700;
     src: url("/font-files-otf/Hiragino Sans W7.otf") format("otf");
}
@font-face {
     font-family: 'Hiragino Sans';
     font-weight: 800;
     src: url("/font-files-otf/Hiragino Sans W8.otf") format("otf");
}
@font-face {
     font-family: 'Hiragino Sans';
     font-weight: 900;
     src: url("/font-files-otf/Hiragino Sans W9.otf") format("otf");
}