@font-face {
     font-family: 'Hiragino Sans';
     font-weight: 100;
     src: url("/font-files/Hiragino_Sans_W1.woff") format("woff");
}
@font-face {
     font-family: 'Hiragino Sans';
     font-weight: 200;
     src: url("/font-files/Hiragino_Sans_W2.woff") format("woff");
}
@font-face {
     font-family: 'Hiragino Sans';
     font-weight: 300;
     src: url("/font-files/Hiragino_UD_Sans_F_W3.woff") format("woff");
}
@font-face {
     font-family: 'Hiragino Sans';
     font-weight: 400;
     src: url("/font-files/Hiragino_UD_Sans_F_W4.woff") format("woff");
}
@font-face {
     font-family: 'Hiragino Sans';
     font-weight: 500;
     src: url("/font-files/Hiragino_UD_Sans_F_W5.woff") format("woff");
}
@font-face {
     font-family: 'Hiragino Sans';
     font-weight: 600;
     src: url("/font-files/Hiragino_UD_Sans_F_W6.woff") format("woff");
}
@font-face {
     font-family: 'Hiragino Sans';
     font-weight: 700;
     src: url("/font-files/Hiragino_Sans_W7.woff") format("woff");
}
@font-face {
     font-family: 'Hiragino Sans';
     font-weight: 800;
     src: url("/font-files/Hiragino_Sans_W8.woff") format("woff");
}
@font-face {
     font-family: 'Hiragino Sans';
     font-weight: 900;
     src: url("/font-files/Hiragino_Sans_W9.woff") format("woff");
}