@import url('https://rsms.me/inter/inter.css');
html {
    color: #333;
    font-family: Inter, 'Hiragino UD Sans F W4', sans-serif;
}
h1, h2, h3, strong {
    font-family: Inter, 'UD Shin Go NT Bold', sans-serif;
}
