<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Roboto+Mono|Roboto:400,700&display=swap" rel="stylesheet">
html {
    font-family: Roboto, 'Noto Sans JP', sans-serif;
    padding: 2em calc(50% - 457px + 2em);
    color: #333;
    line-height: 1.5;
}
code {
    font-family: Roboto Mono, monospace;
    padding: .05em .3em;
    border-radius: .3em;
    background-color: #f0f0f0;
}
hr {
    height: 3px;
    background-color: #999;
    border: none;
    margin-top: -1em;
}
h1, .lang {
    text-align: center;
}
h1 {
    font-size: 3em;
    color: #09f;
}
h2 {
    color: #09f
}
li {
    color: #999;
}
span {
    color: #333;
}
