html {
    font-family: sans-serif;
    padding: 2em calc(50% - 457px + 2em);
    color: #333;
    line-height: 1.5;
}
code {
    font-family: sans-serif;
    padding: .05em .3em;
    border-radius: .3em;
    background-color: #f0f0f0;
}
hr {
    height: 3px;
    background-color: #036;
    border: none;
    margin-top: -1em;
}
h1, .lang {
    text-align: center;
}
h1 {
    font-size: 3em;
    color: #036;
}
h1, h2, h3 {
    font-weight: normal;
}
li {
    color: #036;
}
span {
    color: #333;
}