body {
    font-family: Roboto,-apple-system,'Segoe UI','Noto Sans CJK JP','Hiragino Sans',Meiryo,sans-serif;
    color: #333333;
    line-height: 1.75;
}

code {
    font-family: 'Roboto Mono',Consolas,monospace;
    font-size: 1em;
    padding: 2px 4px;
    box-sizing: border-box;
    background: #eeeeee;
}
