body {
    font-family: Roboto, 'Noto Sans CJK JP', sans-serif;
    color: #333333;
    line-height: 1.7;
}

code {
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    padding: 5px 5px;
    box-sizing: border-box;
    background: #eeeeee;
}
